@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

#dealerHand, #playerHand {
  list-style-type: none;
  padding-left: 0;
}
#title {
  font-size: 40px;
}
li {
  display: inline;
}
html {
  font-family: Fredoka One;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 4px #000000;
}
h1, h2 {
  font-weight: 100;
}
body {
  background-image: url("/img/bg.png");
  background-size: cover;
}

button {
  background-color: #ff0000;
  border: none;
  padding: 15px 32px;
  font-family: Fredoka One;
  font-size: 16px;
  color: white;
  margin: 0px 20px 0px 20px;
  box-shadow: 4px 4px 4px #000000;
}
#winnerText {
  margin-bottom: 10px;
}
button:hover
{
  background-color: #850000;
}

img {
  box-shadow: 4px 4px 4px #052911;
}
